body {
    font-family: fantasy;
    color: rgb(3, 174, 213);
}

#praia {
    width: 450px;
    position: absolute;
    top: 20px;
    left: 10px
}

#pessoa {
    width: 250px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
}

#oculos {
    width: 100px;
    position: absolute;
    top: 78px;
    left: 165px;
    z-index: 3;
}

h1 {
    position: fixed;
    z-index: 4;
    left: 30px;
}

#song {
    position: absolute;
    z-index: 5;
    top: 300px;
}

.coqueiro {
    width: 50px;
    float: left;
    margin-right: 10px;
}